.quickjava-button
{
	width:				20px;
	padding:            1px;
	border:             1px solid rgba(68,68,68,0.8);
	border-radius:      3px;
	box-shadow:         0 1px rgba(255,255,255,0.2);
	margin:             1px 3px;
	font-size:          8pt;
	text-align:         center;
	text-shadow:        0 0 transparent;
	color:              #FFF;
	background:         -moz-linear-gradient(
        rgba(255,119,119,0.8),
        rgba(187, 51, 51,0.8));
}

.quickjava-button:active:hover
{
	box-shadow:			inset 0 2px 5px rgba(0,0,0,0.6), 
                        0 1px rgba(255,255,255,0.2);
	color:              #DDD;
	background-color:	rgba(0,0,0,0.2);
}

.quickjava-button[status="1"]
{
	background:			-moz-linear-gradient(
        rgba(119,170,221,0.8),
        rgba( 51,102,153,0.8));
}

.quickjava-button[status="-1"]
{display:				none;}
